@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Style code blocks while keeping them scrollable */
pre {
  overflow-x: auto;
  /* padding: 1rem; */
  /* background: #1a1a1a; */
  border-radius: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-track {
  background: #23272a;
  border-radius: 0.5rem;
}

pre::-webkit-scrollbar-thumb {
  background: #23272a;
  border-radius: 0.5rem;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  background: #1a1a1a;
  border-radius: 0.5rem;
  overflow: hidden;
}

th, td {
  padding: 0.75rem 1rem;
  text-align: left;
  border: 1px solid #2d3748;
}

th {
  background: #2d3748;
  border: 1px solid black;
  color: white;
  font-weight: 600;
}

tr:last-child td {
  border-bottom: 1px solid #2d3748;
}

.prose {  
  overflow-wrap:break-word;
}

